body {
  color: #fff;
  background-image: url(./portfolio-background-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  column-gap: 0;
  gap: 2rem;
}

@media screen and (max-width: 820px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .my-photo {
    height: 10px;
  }
}

.jumbotron {
  /* border: #fff 2px solid; */
  width: 600px;
  margin: 10px 20px;
  padding: 10px;
}

.my-photo {
  height: 300px;
  border-radius: 50%;
}

.account-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Name {
  font-size: 3rem;
  padding: 0;
}

.role {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
